<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{43,69}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,585},{43,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,74},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,147},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,220},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,293},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,366},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,439},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{1,512},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>.png</string>
            <key>size</key>
            <string>{45,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a25f92d57171562d6dbb17c27f84d3f:0778ab33d57e472111aa804a526c4b0e:5dfe20cf019a47cbcac665fab3ce66a3$</string>
            <key>textureFileName</key>
            <string>.png</string>
        </dict>
    </dict>
</plist>
